<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Schedule Appointment</title>
    <link rel="icon" href="{% static 'images/icon.jpg' %}" type="image/icon">
</head>
<body>
    <header>
        <img src="{% static 'images/icon.jpg' %}" alt="Your Logo" class="logo">
        <h1>Bakari Mental Health Consultation</h1>
           <nav>
            <ul>
                <li><a href="{% url 'my_view' %}">Home</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'my_view' %}#faq">FAQ</a></li>
                <li><a href="{% url 'my_view' %}#contact">Contact</a></li>
                <li><a href="{% url 'schedule_appointment' %}">Schedule Appointment</a></li>
                <a href="{% url 'logout' %}" class="btn-sign-out">Sign Out</a>
            </div>
                
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div class="appointment-form">
                <h2>Schedule an Appointment</h2>
                <form action="{% url 'schedule_appointment' %}" method="post">
                    {% csrf_token %}
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>

                    <label for="time">Time:</label>
                    <input type="time" id="time" name="time" required>

                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>

                    <button type="submit">Schedule Appointment</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2024 Bakari Mental Health Consultation</p>
    </footer>

    <script src="{% static 'js/scripta.js' %}"></script>
</body>
</html>
